<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <title>Profile Page!</title>
  <style>
    *::-webkit-scrollbar {
      width: 10px;
    }

    *::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.185);
      scroll-behavior: smooth;
    }

    #composediv {
      transform: translateY(100%);
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
    #photu{
      width: 90px;
      height: 90px;
      /* background-color: aqua; */
      border-radius: 50%;
      overflow: hidden;
    }
    #photu img{
      width: 100%;
      height:100%;
      object-fit: cover;
    }
    #photuForm{
      display: none;
    }
  </style>
</head>

<body>
  <div class="container-lg mt-2">
    <div id="composediv" class="container p-2"
      style="width:22rem; background-color: #f3efefdc; position:fixed ; bottom:0%; right:5%; border-top-left-radius: 10px; border-top-right-radius: 10px; z-index:9;">
      <button id="closeBtn" class="btn">close</button>
      <form action="/compose" method="post">
        <div class="mb-3 ">
          <label for="exampleInputEmail1" class="form-label">Sending mail :</label>
          <input type="email" name="receiveremail" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        </div>
        <div class="form-floating">
          <textarea class="form-control" name="mailtext" placeholder="Leave a comment here" id="floatingTextarea"
            style="resize:none; height: 12rem;"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send email</button>
      </form>
    </div>
    <div id="photu">
    <img src="./images/uploads/<%= user.ProfilePic %>" alt="">
    </div>
    <form id="photuForm" action="/formUpload" method="post" enctype="multipart/form-data">
      <input type="file" name="image" id="uploadFile">
      <input type="submit" value="submit">
    </form>
    <h2>Hii , <span class="display-1 fs-1">
        <%=user.username %>
      </span></h2>
    <h1 class="display-6 d-flex">Welcome Back to the SheryMail.</h1>
    <div class="d-flex align-items-end">
      <a href="#" id="createBtn" class="btn btn-warning mt-2 text-light"> + Create Mails</a>
      <a href="/logout" class="btn btn-outline-success mx-3">Logout</a>
    </div>
    <hr>
    <a href="/sent" class="btn btn-info text-light mt-2">Check sent mails </a>
    <hr>
    <div class="card "
      style="border: none; height:300px;position: relative; overflow-x:hidden;overflow-y: auto;overflow-x:hidden;">
      <% user.recievedMails.reverse().forEach(function(mail){%>
        <div class="card p-1 m-1" style="width:100%">
          <% if(!mail.read){%>
            <div id="unread" style="background-color: red; border-radius: 5px; width: 7px; height: 7px;"></div>
            <%}%>
              <div class="card-body ">
                <h5 class="card-title">
                  <%= mail.userid.username %>
                </h5>
                <p class="card-text">
                  <%= mail.mailtext %>
                </p>
                <a href="/read/mail/<%= mail._id %>" class="card-link text-decoration-none ">Read More</a>
                <a href="/delete/mail/<%=mail._id %>" class="card-link text-decoration-none text-danger"><i
                    class="ri-delete-bin-2-fill"></i></a>
              </div>
        </div>
        <%})%>
    </div>
    <br>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script>
    document.querySelector("#closeBtn").addEventListener('click', function () {
      document.querySelector('#composediv').style.transform = 'translateY(100%)';
    })
    document.querySelector("#createBtn").addEventListener('click', function () {
      document.querySelector('#composediv').style.transform = 'translateY(0%)';
    })
    document.querySelector('#photu').addEventListener('click',function(){
      document.querySelector('#uploadFile').click();
    })
    document.querySelector('#uploadFile').addEventListener('change',function(){
      document.querySelector('#photuForm').submit();
    })


  </script>
</body>

</html>